<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084292781389-t31hoo56v9i2jj7oh3fsqu6j8d0esb2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084292781389-t31hoo56v9i2jj7oh3fsqu6j8d0esb2t</string>
	<key>API_KEY</key>
	<string>AIzaSyBL8cU-Indp7iRklQc7ugJV9Qrbv-4wvGM</string>
	<key>GCM_SENDER_ID</key>
	<string>1084292781389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michcode.PeliculasApp</string>
	<key>PROJECT_ID</key>
	<string>apppeliculasios</string>
	<key>STORAGE_BUCKET</key>
	<string>apppeliculasios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084292781389:ios:05c48e52338839a7e11304</string>
	<key>DATABASE_URL</key>
	<string>https://apppeliculasios.firebaseio.com</string>
</dict>
</plist>